html,body {
  font-family: 'Raleway', sans-serif;
  padding: 3em 2em;
  font-size: 12px;
  background: #222;
  color: #aaa
}
.type {
  background: transparent;
}
.var-highlight{
	color: #0a0;
}
.string-highlight{
	color: #fc0;
}
#typewriter{
		font-size: 2em;
		margin: 0;
		font-family: "Courier New";

		&:after{
			content: "|";
			animation: blink 500ms linear infinite alternate;
			color: #0a0
		}
}
@-webkit-keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
@-moz-keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
@keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}